<div id='branches' class='builds'>
  <% for branch in @branches %>
    <% latest_build = branch.builds.first(:order => "created_at DESC") %>
    <% div_for branch, :class => latest_build.status do %>
      <h2><%= link_to branch.name, project_branch_builds_path(@project, branch) %></h2>
        <small>Build <%= latest_build %> <%= latest_build.report %></small>
      </li>
    <% end %>
  <% end %>
</div>