.output .color1 {
  font-weight: 900; }

.color30 {
  color: #B52B29; }

.color31 {
  color: #D51E0D; }

.color32 {
  color: #38CA00; }

.color36 {
  color: #2C8D99; }

.color90 {
  color: #4B4C4C; }
