#setup {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24pt;
}

#setup ul li {
  margin-left: 50px;
  list-style-type: decimal;
  
}

#setup table {
  float: left;
  width: 100%;
  margin: 10px;
}

#setup table td {
  font-size: 72pt;
  display: inline;
  margin-left: 50px;
}