.setup
  %h2
    Hi there!
  %p
    I see you have no projects and this is unfortunate. Where's your first project live?
  %p.sites
    = link_to "Github", "/setup/github"
    %span.separator
      or
    = link_to "Codebase", "/setup/codebase"
