.setup
  %h2
    So you've setup a repository.
  %p
    Now you'll need to run the job runner. To do this, run 
    %em
      @god -c config/god.rb@ 
    and this will launch god, which will in turn launch (and monitor) the jobs worker. 
    Once your first build is done this message will go away.
