<div id='projects'>
  <% for project in @projects %>
    <% latest_build = project.builds.first(:order => "created_at DESC") %>
    <% div_for project, :class => latest_build.status do %>
      <h2><%= link_to project.name, project_path(project) %></h2>
        <small>
          <% if project.branches.many? -%>
            <%= latest_build.branch %> -
          <% end -%>
          Build <%= latest_build %> <%= latest_build.report %>
        </small>
      </li>
    <% end %>
  <% end %>
</div>