development: &STANDARD
  build_directory: /data/builds
  user: user
  password: password
  
test: &TEST
  build_directory: <%= RAILS_ROOT %>/tmp/builds
  
cucumber:
  <<: *TEST
  
production:
  <<: *STANDARD
