<h2>Codebase, eh?</h2>
<div id='setup'>
  <ul>
    <li>Go to your company's page</li>
    <li>Click "Notifications"</li>
    <li>Select "HTTP Postback" from the "Create Notification" select box on the right</li>
    <li>Click "Create notification"</li>
    <li>Enter http://<%= request.env['HTTP_HOST'] %>/codebase into the URL field</li>
    <li>Click "Create notification"</li>
    <li>Push to your repository</li>
    <li>Wait around 30 seconds</li>
    <li>Go back to <%= link_to "the home page", root_path %></li>
  </ul>
</div>